.canvas{
    width: 100%;
    height: 100%;
    /* background: black; */
    /* background-color: black; */

    /* width: 80vw;
    height: 70vh;
    border: solid 1px #d17842; */
    /* background: black; */
}